@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Index";
}

<h2>角色列表</h2>

<hr />
<a asp-action="Create" class="btn btn-primary btn-sm">创建角色</a>

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(m => m.Name) </th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td> @Html.DisplayFor(m => role.Name) </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@role.Id">编辑</a>
                            <a asp-action="Delete" asp-route-id="@role.Id" class="delete-item">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $('.delete-item').click(function (e) {
            e.preventDefault();

            confirm("确认删除此角色？");
            var $anchor = $(this);
            var url = $anchor.attr('href');

            $.ajax({
                type: 'DELETE',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                processData: false,
                url: url,
                success: function () {
                    $anchor.parent('td').parent('tr').fadeOut('slow',
                        function () {
                            $(this).remove();
                        }
                    );
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                }
            })
        });
    </script>
}

